html body {
  margin: 0;
}

.sphere {
  fill: #eaeaea;
}

.country {
  stroke: black;
  stroke-width: 0.05px;
}

.country:hover {
  fill: red;
}

.tick text {
  font-size: 1.3em;
  fill: #444;
  font-family: sans-serif;
}

/* style the .tick circles AND country-circle */
.tick circle,
.country-circle {
  fill: #00d1bf;
  fill-opacity: 0.6;
  stroke: black;
  stroke-opacity: 0.3;
}
